<div class="container-fluid flex-column mt-5">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="row">
        <div class="col-6">
          <h2 style="color: white">PEOPLE DATA</h2>
        </div>
        <div class="col-6">
          <button
            class="btn btn btn-warning float-end rounded-5"
            (click)="getnextpage()"
            [disabled]="recordone"
          >
            NEXT PERSON
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let item of data">
    <div class="col-4"></div>
    <div class="clr col-4">
      <div class="container m-0 p-0">
        <div class="row shadow mb-5 rounded-4">
          <div class="clr1 col-2">
            <h1 class="m-2 p-3">{{ item.id }}</h1>
          </div>
          <div class="clr2 col-10 flex-column">
            <div class="row mt-3">
              <h4>{{ item.name }}</h4>
            </div>
            <div class="row bgclr mt-0">
              <h4 class="mb-3">{{ item.location }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="d-flex justify-content-center"
    [hidden]="recordone"
    *ngIf="this.onerecord !== true; then thenblock; else elseblock"
  ></div>
  <ng-template #thenblock>
    <p style="color: white" class="d-flex justify-content-center">
      CURRENTLY 3 PEOPLE SHOWING
    </p>
  </ng-template>
  <ng-template #elseblock>
    <div style="color: white" class="d-flex justify-content-center">
      <p [hidden]="recordone">CURRENTLY 1 PEOPLE SHOWING</p>
    </div>
  </ng-template>
  <div style="color: white" class="d-flex justify-content-center">
    <p [hidden]="norecord">NO MORE PEOPLE!</p>
  </div>
</div>
